body {
  margin-top: 20px;
  margin-left: 40px;
  margin-right: 40px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f5f4f4;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.styled-table {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  font-family: sans-serif;
  min-width: 400px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  width: 100%;
  border-collapse: collapse;
}
.styled-table thead tr {
  background-color: #262928;
  color: #ffffff;
  text-align: left;
}
.styled-table th,
.styled-table td {
  padding: 12px 15px;
}
.styled-table tbody tr {
  border-bottom: 1px solid #dddddd;
}
.styled-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}
.styled-table tbody tr:last-of-type {
  border-bottom: 2px solid #009879;
}

.styled-table-container {
  max-height: 400px;
  overflow-y: auto;
}

/* .styled-table thead tr {
  background-color: #f2f2f2;
}

.styled-table th, .styled-table td {
  padding: 10px;
  text-align: left;
}

.styled-table tbody tr:nth-child(odd) {
  background-color: #f5f5f5;
} */

.divider-border {
  border-bottom: 1px solid #3d4543;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 100%;
  height: 1px;
  margin-left: 0px;
  margin-right: 0px;
}
